@charset "UTF-8";

/*
  Avansies Animations Stylesheet
  Author: Lucas Eastman
  Date: 12.17.17

  Filename: av_animations.css
*/

/* Nav animations */

h1#avanHeader {
  -webkit-transition: color 1s, text-shadow 1s;
  transition: color 1s, text-shadow 1s;
}

nav#headerNav ul a {
  -webkit-transition: background-color 0.25s, width 2s;
  transition: background-color 0.25s, width 2s, border-color 0.25s;
}

aside#linksPan section a {
  -webkit-transition: box-shadow 0.5s, transform 1s;
  transition: color 0.5s, background-color 0.5s, box-shadow 0.5s, transform 0.5s;
}
