@charset "UTF-8";

/*
   Avansies Home Style Sheet

   Filename: av_styles1.css
*/
/*##########################*/
/* HTML and Body Styles */
/*#########################*/

@font-face {
  font-family: 'Minecrafter-Alt';
  src: url('Minecraft.Alt.tff') format('truetype'),
  url('minecrafter.alt-webfont.woff') format('woff');
}

html {
  height: 100%;
  background: url(bitnature.gif) 100% / cover fixed no-repeat;
  /*background-color: red;*/
}

body {
  margin: 0 auto;
  padding: 0 25px;
  width: 80%;
  background-color: rgba(150, 150, 150, 0.75);
  background-color: #99CCCC;
  box-shadow: 15px 0 25px, -15px 0 25px;
}
/*###################*/
/* Header Styles */
/*###################*/

h1#avanHeader {
  padding: 25px;
  width: 100%;
  color: #328181;
  font-size: 5em;
  letter-spacing: 0.25em;
  text-align: center;
  font-family: georgia, palatino, book antiqua, palatino linotype, serif;
  text-decoration: underline;
  text-shadow: 2.5px 2.5px 5px black;
}

header nav {
  margin: 25px auto;
}

nav#headerNav ul {
  display: -webkit-flex;
  display: flex;

  flex: row nowrap;

  justify-content: space-around;
  align-items: stretch;
}

nav#headerNav ul a {
  padding: 10px 0;
  width: 16.67%;
  background-color: #6DAEAE;
  border: 2px solid black;
  color: #235F5F;
  font-family: monospace;
  text-align: center;
  font-size: 1.5em;
}

nav#headerNav ul a:hover {
  position: relative;
  background-color: #4CBABA;
  color: #235F5F;
}

/*nav#headerNav ul a:first-of-type {
  border-left: none;
}

nav#headerNav ul a:last-of-type {
  border-right: none;
}*/

/*###############################*/
/* Game of the Month Styles */
/*###############################*/

section#gameOTMonth {
  display: -webkit-flex;
  display: flex;

  flex-flow: column wrap;

  justify-content: center;

  margin: 0 auto 25px;
  padding: 5px 10px;
  color: #99CCCC;
  background-color: #328181;
  border: 15px solid #235F5F;
  border-radius: 25px;
}

section#game {
  display: -webkit-flex;
  display: flex;

  flex-flow: row nowrap;

  align-items: center;

  margin: 10px 0;
  width: 100%;
}

section#gameText {
  display: -webkit-flex;
  display: flex;

  flex-flow: column nowrap;

  align-items: center;
}

section#gameOTMonth h2, section#gameOTMonth p {
  text-align: center;
}

section#gameOTMonth h2 {
  font-size: 3em;
  line-height: 1em;
  font-family: monospace;
  letter-spacing: 0.025em;
}

section#gameOTMonth img {
  width: 50%;
  max-width: 100%;
  border-radius: 10px;
}

section#gameOTMonth h3 {
  padding: 10px 0 15px;
  text-align: center;
  font-family: 'Minecrafter-Alt', sans-serif;
  letter-spacing: 0.25em;
}

section#gameOTMonth p {
  width: 75%;
  font-size: 1.25em;
}

/*###########################*/
/* Middle Section Styles */
/*###########################*/

section#middle {
  display: -webkit-flex;
  display: flex;

  flex-flow: row wrap;

  justify-content: space-between;
  align-items: flex-start;
}

section#middle aside {
  width: 15%;
}

section#middleMiddle {
  padding: 0 25px;
  width: 70%;
}

/*##################*/
/* Links Panel */
/*##################*/

aside#linksPan {
  padding: 10px 0;
  color: #99CCCC;
  text-align: center;
  background-color: #328181;
  border: 5px solid #235F5F;
  border-radius: 10px;
}

aside#linksPan h2 {
  margin-bottom: 10px;
  font-size: 2em;
}

aside#linksPan section {
  display: -webkit-flex;
  display: flex;

  flex-flow: column wrap;

  justify-content: space-between;
  align-items: center;
}

aside#linksPan section a {
  margin: 5px 0;
  padding: 5px 5px;
  width: 75%;
  color: #328181;
  font-size: 1.5em;
  line-height: 1.5em;
  text-emphasis: bold;
  text-decoration-line: none;
  background-color: #99CCCC;
  box-shadow: #235F5F 0 5px 0, #235F5F 5px 0 0, #235F5F 5px 5px 0;
}

aside#linksPan section a:hover, aside#linksPan section a:active {
  box-shadow: none;
  transform: translate(5px, 5px);
}

/*########################*/
/* News Board Styles */
/*########################*/

section#newsBoard {
  margin-bottom: 10px;
  padding: 10px;
  color: #99CCCC;
  background-color: #328181;
  border: 5px solid #235F5F;
  border-radius: 10px;
}

section#newsBoard h2 {
  padding-bottom: 10px;
  font-size: 2em;
}

section#newsPosts {
  display: -webkit-flex;
  display: flex;

  flex-flow: column wrap;

  justify-content: flex-end;
  align-items: flex-start;
}

section#newsPosts section.newsPost {
  padding-bottom: 50px;
}

section#newsPosts section.newsPost:last-of-type {
  padding: 0;
}

section#newsPosts section.newsPost h3 {
  padding: 10px 0;
  font-size: 1.5em;
}

/*########################*/
/* Affiliates Styles */
/*########################*/

section#affiliates {
  margin-top: 10px;
  padding: 10px;
  color: #99CCCC;
  background-color: #328181;
  border: 5px solid #235F5F;
  border-radius: 10px;
}

section#affiliates h2 {
  margin-bottom: 10px;
  font-size: 2em;
}

section#affiliates p {
  font-size: 1.5em;
  line-height: 1em;
}

section#affiliates a {
  color: #99CCCC;
}

/*####################*/
/* Events Styles */
/*####################*/

aside#eventsPan {
  padding: 10px;
  color: #99CCCC;
  background-color: #328181;
  border: 5px solid #235F5F;
  border-radius: 10px;
}

aside#eventsPan h2 {
  padding-bottom: 5px;
  font-size: 2em;
}

section#events {
  display: -webkit-flex;
  display: flex;

  flex-flow: column wrap;

  justify-content: space-between;
}

section.event {
  margin-bottom: 10px;
}

section.event:last-of-type {
  margin-bottom: 0;
}

section#events h3 {
  padding: 5px 0;
  font-size: 1.5em;
  line-height: 1em;
}

/*####################*/
/* Footer Styles */
/*####################*/

footer {
  padding: 25px;
  color: #328181;
  text-align: center;
}
